.img{
    background-image: url(../public/media/selfy.png);
    height: 28rem;
    margin-top: 10%;
   
}
body{
    overflow-x: hidden;
}
.img3{
    background-image: url(../public/media/content.png);
    height: 14rem;
    
    
}